// Button

mixin btn(data) 
	if data.link 
		.btn(class=data.class)
			a(href="#")=data.title
	else
		.btn(class=data.class data-target="form")
			button(type="button")=data.title

// End button

// Input

mixin input(data)
	.global_input(class=data.class ? data.class : data.class="form_input")
		input(type=data.type ? data.type : data.type="text" placeholder=data.place ? data.place : data.place="Ваше имя")

// End mixin input